*{
    padding: 0;
    margin: 0;
    border: none;   
}
body{
     font-size: 14px;
     font-family: 'Robonto', sans-serif;
}

.login-wrapper{
    display: table;
    margin-left: auto;
    margin-right:auto;
     width: 400px;
     height: 350px;
     padding: 40px;
     text-align: center; /*글자 가운데 정렬*/
     justify-content: center;
     box-sizing: border-box;
     overflow: hidden; /*신규 추가*/      
}

.login-wrapper >h2{
     font-size: 24px;
     color: #6A24FE;
     margin-bottom: 20px;
}

#login-form > input{
     width: 100%;
     height: 48px;
     padding: 0 10px;
     box-sizing: border-box;
     margin-bottom: 16px;
     border-radius: 6px;
     background-color: #F8F8F8;
}
#login-form >
input::placeholder{
    color: #D2D2D2;
}
#login-form >
input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 20px;
}

#Login-form >
input[type="checkbox"]{
    display:none;
}

#Login-form > Label{
    color: #999999;
}

#Login-form
input[type ="checkbox"] + label{cursor: pointer; padding-left: 26px; background-image: url("checkbox.png");
background-repeat: no-repeat; 
background-size: contain;
}